@import url('bootstrap.css');

.section {
	padding: 80px 0;
}
.section.bg-gray {
	background: #e5e5e5;
}
@media (max-width: 575.98px) {
	.section {
		padding: 40px 0;
	}
}

.img-holder img {
	max-width: 100%;
	height: auto;
}


/* HEADER */
#header {
	position: relative;
	z-index: 2;
	padding: 20px 0;
	background: #fff;
	box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
#header .container {
	display: flex;
	justify-content: space-between;
}
@media (max-width: 1199.98px) {
	#header .navbar {
		flex-direction: column;
		align-items: center;
	}
}
@media (max-width: 991.98px) {
	#header .navbar {
		flex-direction: row;
		justify-content: space-between;
		flex-grow: 1;
	}
}
@media (max-width: 767.98px) {
	#header .container {
		display: flex;
	}
	#header .navbar-collapse {
		max-width: 320px;
	}
}
#header .logo img {
	max-height: 64px;
	width: auto;
}


/* SLIDER */
.slider {
	position: relative;
}
.slider .slider-caption {
	position: absolute;
	bottom: 40px;
	right: 80px;
	z-index: 1;
	width: 400px;
	padding: 20px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.25);
}
.slider .slider-caption-btn {
	text-align: right;
}
@media (max-width: 991.98px) {
	.slider .slider-caption {
		bottom: 16px;
		right: 16px;
		z-index: 1;
		width: 320px;
		padding: 16px;
	}
}
@media (max-width: 767.98px) {
	.slider {
		display: flex;
		flex-direction: column;
	}
	.slider .img-holder {
		order: 1;
	}
	.slider .slider-caption {
		position: relative;
		bottom: auto;
		right: auto;
		width: auto;
		padding: 16px 32px;
		border-radius: 0;
		order: 2;
	}
}
@media (max-width: 575.98px) {
	.slider .slider-caption p:not(.slider-caption-btn) {
		display: none;
	}
	.slider .slider-caption h5 {
		margin-bottom: 4px;
	}
	.slider .slider-caption-btn {
		text-align: left;
	}
}



/* WELCOME */
.welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/* FEATURE HOVER */
.feature-hover {
	position: relative;
	overflow: hidden;
	display: block;
}
.feature-hover:hover .feature-caption {
	top: 40px;
	background: rgba(0, 123, 255, 0.75);
}
.feature-hover:hover .feature-caption p {
	opacity: 1;
}
.feature-hover .img-holder {}
.feature-hover .feature-caption {
	position: absolute;
	top: calc(100% - 40px - 16px);
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background: var(--primary);
	height: 100%;
	color: #fff;
	text-align: center;
	transition: all 0.4s;
}
.feature-hover .feature-caption h5,
.feature-hover .feature-caption p {
	padding: 16px;
}
.feature-hover .feature-caption h5 {
	color: #fff;
	margin: 0;
}
.feature-hover .feature-caption p {
	border-top: 1px solid #fff;
	opacity: 0;
	transition: opacity 0.4s;
}


/* SERVICES */
.service-block .img-holder {
	margin-bottom: 16px;
}

.service-block h5 {
	margin-bottom: 8px;
}

.service-block .service-content {
	margin-bottom: 8px;
}

/* Destinations */
.destination-block .img-holder {
	margin-bottom: 16px;
}

.destination-block h5 {
	margin-bottom: 8px;
	text-align:center; 
}
/*News */
.news-block .img-holder {
	margin-bottom: 16px;
}
.news-block h5,
.news-block .news-content {
	margin-bottom: 8px;
}
.news-block .news-footer {
	display: flex;
	justify-content: space-between;
}


































.background_image{
		background-repeat: no-repeat;
	 
		background-size: cover;
		background-position: center center;
		width: 100%;
		height: 100%;
		opacity: 1;
		visibility: inherit;
		z-index: 20;
}
.card_padding{
	padding: 35% 0% 9% 6%;
}

.space_padding{
	padding-top: 9%;
}
.font_family{
	font-size: 40px;
}
/*
.icon_box_inner{
padding: 0 26px;
}

.icon_box_icon {

	.icon {
		margin-right: 17px;
}
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		min-height: 150px;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
}

.icon {
		margin-right: 17px;
}
.font-color_secondary {
		color: #a0ce4e;
}
*/
.event {

		margin-bottom: 20px;
		position: relative;
		text-align: center;
		display: block;
		margin: 0 auto;
		/*width: 300px;*/
}

.event .content {
		background: rgba(93,67,27, 1);
		color: #fff;
		bottom: 0;
		height: 68px;
		left: 0;
		overflow: hidden;
		position: absolute;
		transition: all .5s ease;
		
}

.event h3 {
		font: bold 1em/1.125em 'Montserrat', Arial, Helvetica, sans-serif;
		letter-spacing: 2px;
		height: 68px;
		margin: 0;
		padding-top: 20px;
		text-transform: uppercase;
}

.event .rollover {
		border-top: 1px solid #59E4DF;
		font-size: .9375em;
		line-height: 1.4em;
		padding: 18px 20px;
		opacity: 0;
		transition: all .5s ease;
}

.event .rollover p {
		margin: 0;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.event:hover .content {
		background: rgba(93,67,27,.7);
		height: 80%;
}

.event:hover .rollover {
		opacity: 1;
}
.testimonials1{
	/*height: 1500px;*/
background-color: darkgrey;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	opacity: 90%;
	position: relative;
	z-index: 1;
	}

.testimonials1:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background: #222;
	opacity: 0.9;
}

.testimonials2{
	/*height: 100%;*/
	/*background-image: linear-gradient(hsl(10,90,66), transparent 50%);*/
	/*background-size: 100% 100%;*/
	/*mix-blend-mode: difference;*/
	}
	
	.footer_color{
background-color: #0b2a41;
color: #fff;
font-size: 13px;
height: 30%;
}
.space_padding{
	padding-top: 5%;

}
hr.new1 {
	border-top: 1px solid white;
	width: 75%;
}

.zoom {
transition: transform .4s;
width: 160px;
height: auto;
}
.zoom:hover {
-ms-transform: scale(1.3); /* IE 9 */
-webkit-transform: scale(1.3); /* Safari 3-8 */
transform: scale(1.3);
}
 .dot {
	list-style-type: none;
 }
 