.navback_ground{
  height: 100px;
}
/*
 .background_image{
background-image: url('../image/student.jpg');
opacity: 70%;
height:600px;
width: 100%
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color:#0000000;
}
*/
.background_image{
    background-repeat: no-repeat;
    background-image: url('../image/student.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
}
.card_padding{
  padding: 35% 0% 9% 6%;
}

.space_padding{
  padding-top: 9%;
}
.font_family{
  font-size: 40px;
}
/*
.icon_box_inner{
padding: 0 26px;
}

.icon_box_icon {

  .icon {
    margin-right: 17px;
}
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-height: 150px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.icon {
    margin-right: 17px;
}
.font-color_secondary {
    color: #a0ce4e;
}
*/
.event {

    margin-bottom: 20px;
    position: relative;
    text-align: center;
    display: block;
    margin: 0 auto;
    /*width: 300px;*/
}

.event .content {
    background: rgba(93,67,27, 1);
    color: #fff;
    bottom: 0;
    height: 68px;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: all .5s ease;
    width: 100%;
}

.event h3 {
    font: bold 1em/1.125em 'Montserrat', Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    height: 68px;
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
}

.event .rollover {
    border-top: 1px solid #59E4DF;
    font-size: .9375em;
    line-height: 1.4em;
    padding: 18px 20px;
    opacity: 0;
    transition: all .5s ease;
}

.event .rollover p {
    margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.event:hover .content {
    background: rgba(93,67,27,.7);
    height: 100%;
}

.event:hover .rollover {
    opacity: 1;
}
.testimonials1{
  /*height: 1500px;*/
background-color: darkgrey;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 90%;
  position: relative;
  z-index: 1;
  }

.testimonials1:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #222;
  opacity: 0.9;
}

.testimonials2{
  /*height: 100%;*/
  /*background-image: linear-gradient(hsl(10,90,66), transparent 50%);*/
  /*background-size: 100% 100%;*/
  /*mix-blend-mode: difference;*/
  }
  
  .footer_color{
background-color: #0b2a41;
color: #fff;
font-size: 13px;
height: 260px;
}
.space_padding{
  padding-top: 5%;

}
hr.new1 {
  border-top: 1px solid white;
  width: 95%;
}

.zoom {
transition: transform .4s;
width: 160px;
height: 160px;
}
.zoom:hover {
-ms-transform: scale(1.3); /* IE 9 */
-webkit-transform: scale(1.3); /* Safari 3-8 */
transform: scale(1.3);
}
 